<section class="grid-content allHeight">
        <div class="card mb-40">
                <div class="card-header">
                    <i class="fa fa-edit"></i> Editar
                </div>
                <div class="card-body">
                    <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
                        <div class="row justify-content-md-center">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" [(ngModel)]="item.nombre" name="nombre" #nombre="ngModel" >
                                </div>
                                <!-- RELATIONS -->
                                <label for="Estado">Estado</label>
                                <select name="activo" id="activo" [(ngModel)]="item.activo" class="form-control" #activo="ngModel"  >
                                    <option *ngFor="let item of listActivo" [value]="item.id">{{item.nombre}}</option>
                                </select>
                                <!-- BUTTON BAR -->
                                <div class="mt-40">
                                    <button class="btn btn-primary pull-right" (click)="save(editForm.valid)">Guardar</button>
                                    <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Regresar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
</section>
