.grid-login-content {
  display: grid;
  align-items: center;
  grid-template: 1fr / 1fr minmax(300px, 1fr) 1fr;
}
.grid-form {
    padding: 1rem;
    display: grid;
    grid-template: 2.6rem 2rem 8rem 4.3rem 4.3rem 3rem 5rem 1rem 1rem 1rem / 1fr;
}

.text-muted:nth-of-type(2),.grid-item:nth-of-type(1), .grid-item-inf{
    text-align: center;
    align-self: flex-end;
}
.grid-item-inf{
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid-item-img{
  align-self: center;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .grid-login-content {
    grid-template: 1fr / 0 1fr 0;
  }
}
