<section class="grid-login-content allHeight">
    <div></div>
    <form class="grid-form shadow-lg" [formGroup]="form" novalidate >
        <h3 class="grid-item">Giflo</h3>
        <h5 class="grid-item text-muted">Registro</h5>
        <div class="grid-item-img">
            <img width="80" alt="Angular Logo" src="../../../assets/icons/icon-512x512.png">
        </div>
        <mat-form-field class="grid-item-i" appearance="outline" style="width: 100%;">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Escribe tu correo" formControlName="email" type="email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field class="grid-item-i" appearance="outline" style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Escribe tu contraseña" formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button class="grid-item button-login" mat-stroked-button (click)="registerByEmailPass()" color="primary">
            <mat-icon class="md-18">input</mat-icon> Registrarse
        </button>
        <div></div>
        <div class="grid-item-inf text-muted" >Ya tienes una cuenta <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">Ingresa</a> </div>
        <div></div>
        <div class="grid-item-inf text-muted" >Creado por <a href="http://www.keysist.com" target="_blank">&copy; KeySist</a> </div>
    </form>
    <div></div>
</section>