<mat-card class="p-0 m-0">
  <mat-card-content class="">
    <!-- ============================================================== -->
    <!-- column -->
    <!-- basic-form ============================================================== -->
    <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
      <div fxLayout="row wrap">
        <!-- column -->
        <div fxFlex.gt-md="100" fxFlex="100">
          <mat-form-field *ngIf="!device.isMovile">
            <mat-select name="tipo" id="tipo" #tipo="ngModel" [(ngModel)]="item.tipo">
              <mat-option *ngFor="let tid of listTipoDireccion" [value]="tid.value">
                {{tid.label}}</mat-option>
            </mat-select>
            <mat-placeholder>Tipo de Dirección</mat-placeholder>
          </mat-form-field>
          <mat-form-field *ngIf="device.isMovile">
            <mat-label>Tipo de Dirección</mat-label>
            <select matNativeControl name="tipo" id="tipo" #tipo="ngModel" [(ngModel)]="item.tipo">
              <option *ngFor="let tid of listTipoDireccion" [value]="tid.value">
                {{tid.label}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="80" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Calle Principal" [(ngModel)]="item.callePrincipal" name="principal"
              #principal="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="20" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Número de Calle" [(ngModel)]="item.calleNumero" name="calleNumero"
              #calleNumero="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Calle Secundaria" [(ngModel)]="item.calleSecundaria" name="calleSecundaria"
              #calleSecundaria="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Código Postal" [(ngModel)]="item.codigoPostal" name="codigoPostal"
              #codigoPostal="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Referencia" [(ngModel)]="item.referencia" name="referencia"
              #referencia="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="70" fxFlex="100">
          <mat-form-field>
            <input type="tel" matInput placeholder="Telefono" [(ngModel)]="item.telefono" name="telefono"
              #telefono="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="30" fxFlex="100">
          <mat-form-field>
            <input type="number" matInput placeholder="Extensión" [(ngModel)]="item.extension" name="extension"
              #extension="ngModel">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="100" fxFlex="100">
          <mat-form-field>
            <input type="tel" matInput placeholder="Célular" [(ngModel)]="item.celular" name="celular"
              #celular="ngModel">
          </mat-form-field>
        </div>
        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <button mat-raised-button color="primary" (click)="doAction(editForm.valid)">Guardar</button>
          <button mat-raised-button color="secondary" (click)="closeDialog()">Regresar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>