<div class="login-register" style="background-image:url(assets/images/background/login-register-gf.jpg);">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo-icon_gf.png">
            <h4 class="m-t-0">Registro en Giflo</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Correo Electrónico" type="email" [formControl]="form.controls['email']">
              </mat-form-field>
              <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                class="text-danger support-text">Debes ingresar un correo</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
                class="text-danger support-text">Tu correo no es válido. Ejm: admin@ejemplo.com</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña"
                  [formControl]="form.controls['password']">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                class="text-danger support-text">Debes ingresar una contraseña.</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Confirma la Contraseña" [formControl]="form.controls['confirmPassword']"
                  [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <small
                *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                class="text-danger support-text">Debes confirmar tu contraseña.</small>
              <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">La
                contraseña no coincide.</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-checkbox class="font-14">Acepto todos los
                <a href="javascript:void(0)" class="link text-info">términos</a>.</mat-checkbox>
            </div>
            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit"
              [disabled]="!form.valid">Crear tu cuenta</button>

            <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>Ya tienes tu cuenta?
                <a [routerLink]="['/authentication/login2']" class="link text-info">Ingresar</a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>