/*******************
Text Colors
*******************/
.text-primary_darker {
    color: $primary_darker !important;
}
.text-primary_default {
    color: $primary_default !important;
}
.text-primary_lighter {
    color: $primary_lighter !important;
}
/*Amarillo*/
.text-accent_darker {
    color: $accent_darker !important;
}
.text-accent_default {
    color: $accent_default !important;
}
.text-accent_lighter {
    color: $accent_lighter !important;
}
/*Obscuro*/
.text-warn_darker {
    color: $warn_darker !important;
}
.text-warn_default {
    color: $warn_default !important;
}
.text-warn_lighter {
    color: $warn_lighter !important;
}

/*******************
Background Colors
*******************/
.bg-primary_darker {
    background-color: $primary_darker !important;
}
.bg-primary_default {
    background-color: $primary_default !important;
}
.bg-primary_lighter {
    background-color: $primary_lighter !important;
}
/*Amarillo*/
.bg-accent_darker {
    background-color: $accent_darker !important;
}
.bg-accent_default {
    background-color: $accent_default !important;
}
.bg-accent_lighter {
    background-color: $accent_lighter !important;
}
/*Obscuro*/
.bg-warn_darker {
    background-color: $warn_darker !important;
}
.bg-warn_default {
    background-color: $warn_default !important;
}
.bg-warn_lighter {
    background-color: $warn_lighter !important;
}

