@import "~@angular/material/theming";
/*Material Theme Colors*/
$primary_darker: mat-color($primary, darker);
$primary_default: mat-color($primary, default);
$primary_lighter: mat-color($primary, lighter);

$accent_darker: mat-color($accent, darker);
$accent_default: mat-color($accent, default);
$accent_lighter: mat-color($accent, lighter);

$warn_darker: mat-color($warn, darker);
$warn_default: mat-color($warn, default);
$warn_lighter: mat-color($warn, lighter);
/*Theme Colors*/
$bodyfont: "Poppins", sans-serif;
$headingfont: "Poppins", sans-serif;
$sidebar: $accent_default;
$sidebar-alt: $accent_default;
$sidebar-text: $accent_default;
$sidebar-icons: $accent_darker;
$bodycolor: $primary_lighter;
$headingtext:$accent_darker;
$bodytext: $accent_default;

$font-16: 16px;
$themecolor: $accent_default;//Color del titulo de pagina
$themecolor-alt: $primary_default;//color de modulo selecionado
/*bootstrap Color*/
$inverse: $accent_default;
$danger: $warn_darker;
$success: #26c6da;
$warning: #ffb22b;
$primary: #7460ee;
$info: #1e88e5;
$muted: red;
$light: $warn_lighter;
$extra-light: red;
/*Light colors*/
$light-danger: red;
$light-success: blue;
$light-warning: green;
$light-primary: yelo;
$light-info: red;
$light-inverse: red;
$light-megna: red;
/*Normal Color*/
$white: $warn_darker;
$red: red;
$purple: red;
$blue: red;
$megna: red;
/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$radius: 4px;

$color_blue: red;
$color_white: red;
$color_orange: red;
$color_google_btn: red;
$color_google_btn_active: red;