<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div [dir]="'ltr'" class="main-container" [ngClass]="{'minisidebar': true, 'boxed': false }">
  <!-- ============================================================== -->
  <!-- Topbar - style you can find in header.scss -->
  <!-- ============================================================== -->
  <mat-toolbar color="primary" class="topbar telative">
    <!-- ============================================================== -->
    <!-- sidebar toggle -->
    <!-- ============================================================== -->
    <button mat-icon-button (click)="snav.toggle() && this.status = !this.status" value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>
    <!-- ============================================================== -->
    <!-- app header component - style you can find in header.scss / header.component.ts-->
    <!-- ============================================================== -->
    <app-header (logoutOUT)="logout($event)" (changeEmpresaOUT)="changeEmpresa()" [nombreEmpresa]="userInfo?userInfo.empresa:''"></app-header>
  </mat-toolbar>
  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="device.isMovile ? 0 : 0"
    [ngClass]="{'minisidebar': true}">
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #snav id="snav" class="pl-xs" [mode]="device.activeMinivar ? 'side' : 'over'" fixedTopGap="0"
      [opened]="device.activeMinivar" [disableClose]="device.activeMinivar" (open)="sidebarOpened = true"
      (close)="sidebarOpened = true" [perfectScrollbar]="config">
      <app-sidebar class="app-sidebar" (logoutOUT)="logout($event)"></app-sidebar>
    </mat-sidenav>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="page-wrapper" [ngClass]="status ? 'minitoggle' : ''" [perfectScrollbar]="config">
      <app-breadcrumb></app-breadcrumb>
      <div class="page-content">
        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
  </mat-sidenav-container>
</div>