<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card class="p-b-40">
            <mat-card-content>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- basic-form ============================================================== -->
                <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="5px" fxLayoutGap.gt-xs="5px" fxLayoutGap="0px"
                        fxFlexAlign="center">
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field *ngIf="!device.isMovile">
                                <mat-select name="tipoIdentificacion" id="tipoIdentificacion"
                                    #tipoIdentificacion="ngModel" [(ngModel)]="item.tipoIdentificacion">
                                    <mat-option *ngFor="let tid of listTipoIdentificacio" [value]="tid.value">
                                        {{tid.label}}</mat-option>
                                </mat-select>
                                <mat-placeholder>Tipo de Identificación</mat-placeholder>
                            </mat-form-field>
                            <mat-form-field *ngIf="device.isMovile">
                                <mat-label>Tipo de Identificación</mat-label>
                                <select matNativeControl name="tipoIdentificacion" id="tipoIdentificacion"
                                    #tipoIdentificacion="ngModel" [(ngModel)]="item.tipoIdentificacion">
                                    <option *ngFor="let tid of listTipoIdentificacio" [value]="tid.value">
                                        {{tid.label}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <input matInput [(ngModel)]="item.identificacion" name="identificacion"
                                    #identificacion="ngModel" [placeholder]="item.tipoIdentificacion">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Nombres" [(ngModel)]="item.nombres" name="nombres"
                                    #nombres="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Apellido" [(ngModel)]="item.apellidos" name="apellidos"
                                    #apellidos="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input matInput [matDatepicker]="fechaNac" [max]="maxDate"
                                    [value]="item.fechaNacimiento" [(ngModel)]="item.fechaNacimiento"
                                    name="fechaNacimiento" #fechaNacimiento="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
                                <mat-datepicker [touchUi]="device.isMovile" startView="year" #fechaNac></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field *ngIf="!device.isMovile">
                                <mat-select name="estadoCivil" id="estadoCivil" #estadoCivil="ngModel"
                                    [(ngModel)]="item.estadoCivil">
                                    <mat-option *ngFor="let tid of listEstadoCivil" [value]="tid">
                                        {{tid.nombre}}</mat-option>
                                </mat-select>
                                <mat-placeholder>Estado Civil</mat-placeholder>
                            </mat-form-field>
                            <mat-form-field *ngIf="device.isMovile">
                                <mat-label>Estado Civil</mat-label>
                                <select matNativeControl name="estadoCivil" id="estadoCivil" #estadoCivil="ngModel"
                                    [(ngModel)]="item.estadoCivil">
                                    <option *ngFor="let tid of listEstadoCivil" [value]="tid">
                                        {{tid.nombre}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="5px" fxLayoutGap.gt-xs="5px" fxLayoutGap="0px"
                        class="m-t-20" fxFlexAlign="center">
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Correo Electrónico" [(ngModel)]="item.contacto.email"
                                    name="email" #email="ngModel">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Célular" [(ngModel)]="item.contacto.celular" name="celular"
                                    #celular="ngModel">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Teléfono" [(ngModel)]="item.contacto.telefono"
                                    name="telefono" #telefono="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <app-toolbar-button>
            <button matRipple [matRippleRadius]="40" mat-raised-button color="primary"
                (click)="save(editForm.valid)">Guardar</button>
            <button mat-raised-button color="secondary" (click)="goBack()">Regresar</button>
        </app-toolbar-button>
    </div>
</div>