<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <div class="mat-toolbar-header">
            <div class="navbar-header">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <!-- Logo icon -->
                    <b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Light Logo icon -->
                        <img src="assets/images/logo-light-icon.png" alt="homepage" class="dark-logo">
                        <!-- Light Logo icon -->
                        <img src="assets/images/logo-icon.png" alt="homepage" class="light-logo">
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span fxShow="false" fxShow.gt-xs>
                        <!-- Light Logo text -->
                        <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                        <!-- Light Logo text -->
                        <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                    </span>
                </a>
            </div>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <mat-icon>menu</mat-icon>
        </button>
        <div #snav id="navbarResponsive" class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#features">Nuestros Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['/admin', 'bloques']">Ingresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">Sistema de Gestión Floricola</h1>
                    <a [routerLink]="['/admin', 'bloques']"
                        class="btn btn-outline btn-xl js-scroll-trigger">Ingresar</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <picture>
                                    <source media="(min-width: 500px)" srcset="assets/images/landing-page/rosa.png">
                                    <source media="(max-width: 501px)"
                                        srcset="assets/images/landing-page/rosa-movile.png">
                                    <img src="assets/images/landing-page/rosa-movile.png" alt="Rosa del campo">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="cta" id="about">
    <div class="cta-content">
        <div class="container">
            <h2>Detente.<br>Y pierdete un momento en nuestro mundo.</h2>
            <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Escribenos</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Rosas ilimitadas, belleza ilimitada</h2>
            <p class="text-muted">Visita nuestra finca y enamorate de nuestra rosas</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <picture>
                                    <source media="(min-width: 500px)" srcset="assets/images/landing-page/screen-1.jpg">
                                    <source media="(max-width: 501px)"
                                        srcset="assets/images/landing-page/screen-1-movil.jpg">
                                    <img src="assets/images/landing-page/screen-1-movil.jpg" alt="Rosa del campo">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Rosas Eternas</h3>
                                <p class="text-muted">Mira lod diferentes colores variedades de nuestras rosas eternas.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3>Nuevas Variedades</h3>
                                <p class="text-muted">Visita nuestra finca y enamorate nuestras nuevas variedades en
                                    rosas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Rosas Fancy</h3>
                                <p class="text-muted">Decora tus eventos importante con nuestras Rosas Fancy
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Rosas Frosty</h3>
                                <p class="text-muted">Alegra con rosas Frosty la conquista de los momentos más
                                    importantes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; Giglo 2020. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Políticas de Privacidad</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Términos y Condiciones</a>
            </li>
        </ul>
    </div>
</footer>