<mat-card fxFlex="100" fxLayout="column">
  <mat-card-header>
      <mat-card-title>Perfil</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center">
      <mat-tab-group *ngIf="user">
          <mat-tab label="Datos" >
              <div>
                  <mat-card>
                      <mat-card-title>Nombre</mat-card-title>
                      <div>{{user.names}}</div>
                  </mat-card>
                  <mat-card>
                      <mat-card-title>RUC</mat-card-title>
                      <div>{{user.id}}</div>
                  </mat-card>
              </div>
          </mat-tab>
          <mat-tab label="Info">
              <div>
                  <mat-card >
                      <mat-card-title>Fecha de Registro</mat-card-title>
                      <div *ngIf="user.birthDate">{{user.birthDate.toDate() | date: 'medium'}} </div>
                  </mat-card>
                  <mat-card>
                      <mat-card-title>Estado</mat-card-title>
                      <div>{{user.status}}</div>
                  </mat-card>
              </div>
          </mat-tab>
          <mat-tab label="Contacto">
              <div>
                  <mat-card>
                      <mat-card-title>Celular</mat-card-title>
                      <div>{{user.address.phone}}</div>
                  </mat-card>
                  <mat-card>
                      <mat-card-title>Teléfono</mat-card-title>
                      <div>{{user.address.convetional}}</div>
                  </mat-card>
                  <mat-card>
                      <mat-card-title>Email</mat-card-title>
                      <div>{{user.email}}</div>
                  </mat-card>
                  <mat-card>
                      <mat-card-title>Dirección</mat-card-title>
                      <div>{{user.address.mainStreet}} y {{user.address.intersection}}</div>
                  </mat-card>
              </div>
          </mat-tab>
          <mat-tab label="Empresa" *ngIf="user.type=='PERSON'">
              <div *ngIf="user.company as comp">
                    <mat-card>
                            <mat-card-title>Nombre</mat-card-title>
                            <div>{{comp.names}}</div>
                    </mat-card>
              </div>
              <div *ngIf="user.company as comp">
                    <mat-card>
                            <mat-card-title>Email</mat-card-title>
                            <div>{{comp.email}}</div>
                    </mat-card>
              </div>
              <div *ngIf="user.company as comp">
                    <mat-card>
                            <mat-card-title>Celular</mat-card-title>
                            <div>{{comp.address.phone}}</div>
                    </mat-card>
              </div>
              <div *ngIf="user.company as comp">
                    <mat-card>
                            <mat-card-title>Teléfono</mat-card-title>
                            <div>{{comp.address.convetional}}</div>
                    </mat-card>
              </div>
              <div *ngIf="user.company as comp">
                    <mat-card>
                            <mat-card-title>Dirección</mat-card-title>
                            <div>{{user.address.mainStreet}} y {{user.address.intersection}}</div>
                    </mat-card>
              </div>
              <div *ngIf="!user.company">
                    <form class="allHeight" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
                            <mat-form-field fxFlex="{{mq.matches?100:50}}">
                                    <input matInput placeholder="Celular" formControlName="rucCompany" type="number">
                                    <mat-error *ngIf="form.controls['rucCompany'].hasError('required')">
                                        Es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width: 100%;">
                                        <button mat-raised-button [fxFlex]="100" color="primary" type="submit">Registrar</button>
                                    </mat-button-toggle-group>
                    </form>
              </div>
          </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>