

<mat-card class="allHeight" fxFlex="100"  fxLayout="column" fxLayoutAlign="center center">
    <p class="{{mq.matches?'title-movile':'title-web'}}">Bienvenido a {{title}}</p>
    <img width="{{mq.matches?80:130}}" alt="Giflo Logo" src="../assets/icons/icon-512x512.png" />
    <form [formGroup]="ds.formRegister" novalidate
    class="{{mq.matches?'form-login-m':'form-login-w'}}" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field  >
            <input matInput placeholder="Correo electrónico" formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Contraseña" formControlName="pass" type="password"  name="password">
        </mat-form-field>
        <button mat-raised-button (click)="registerByEmailPass()" color="primary">Registrarse</button>
        <p>¿Ya tienes una cuenta?</p>
        <mat-button-toggle-group fxFlexOffset="2"  name="fontStyle" aria-label="Font Style" style="width: 100%;">
            <mat-button-toggle [fxFlex]="100" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">Ingresar</mat-button-toggle>
        </mat-button-toggle-group>
    </form>
</mat-card>
