<h1 mat-dialog-title>{{action}} Dirección</h1>
<div mat-dialog-content>
  <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-md="100" fxFlex="100">
        <mat-form-field *ngIf="!device.isMovile">
          <mat-select name="empresa" id="empresa" #empresa="ngModel" [(ngModel)]="item.empresa">
            <mat-option *ngFor="let tid of listaEmpresas" [value]="tid.id">
              {{tid.nombre}}</mat-option>
          </mat-select>
          <mat-placeholder>Empresa</mat-placeholder>
        </mat-form-field>
        <mat-form-field *ngIf="device.isMovile">
          <mat-label>Empresa</mat-label>
          <select matNativeControl name="empresa" id="empresa" #empresa="ngModel" [(ngModel)]="item.empresa">
            <option *ngFor="let tid of listaEmpresas" [value]="tid.id">
              {{tid.nombre}}
            </option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="doAction(editForm.valid)">Guardar</button>
  <button mat-raised-button color="secondary" (click)="closeDialog()">Cerrar</button>
</div>