
    <div [fxFlex]="mobileQuery.matches?90:30" [fxLayoutAlign]="'center center'" [fxLayout]="'column'" class="home-content">
        <p class="{{mobileQuery.matches?'title-movile':'title-web'}}">Bienvenido a Giflo</p>
        <img width="{{mobileQuery.matches?170:190}}" alt="Giflo Logo" src="../assets/icons/icon-512x512.png" />
        <form class="home-toolbar">
            <mat-form-field fxLayout="column" fxLayoutAlign="space-between">
                <input matInput placeholder="Correo electrónico" [(ngModel)]="email" name="username" required>
            </mat-form-field>
            <mat-form-field fxLayout="column" fxLayoutAlign="space-between">
                <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            <button mat-raised-button (click)="login()" color="primary">Ingresar</button>
        </form>
        <div [fxFlex]="mobileQuery.matches?20:10" class="home-toolbar" [fxFlexOffset]="mobileQuery.matches?4:5" [fxLayout]="'row'" [fxLayoutAlign]="'center start'">
            <button class="home-toolbar" [fxFlexOffset]="mobileQuery.matches?0:5" mat-raised-button (click)="loginFacebook()" color="primary">Ingresar con Facebok</button>
            <button class="home-toolbar" [fxFlexOffset]="mobileQuery.matches?4:5" mat-raised-button (click)="loginGoogle()" color="primary">Ingresar con Google</button>
        </div>
        <button mat-raised-button [routerLink]="['/homeLogin']" color="primary">Regresar</button>
    </div>
 