
<mat-card class="allHeight" fxFlex="100"  fxLayout="column" fxLayoutAlign="center center">
    <p class="{{mq.matches?'title-movile':'title-web'}}">Bienvenido a {{title}}</p>
    <img width="{{mq.matches?80:130}}" alt="Giflo Logo" src="../assets/icons/icon-512x512.png" />
    <form  class="{{mq.matches?'form-login-m':'form-login-w'}}" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field  >
            <input matInput placeholder="Correo electrónico" #email name="email" required>
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Contraseña" #password type="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button (click)="authService.loginWithEmailPass(email.value, password.value)" color="primary">Ingresar</button>
        <button mat-raised-button fxFlexOffset="2" (click)="authService.loginWithFacebook()" color="warn"> Ingresar con Facebok</button>
        <button mat-raised-button fxFlexOffset="2" (click)="authService.loginWithGoogle()" color="warn">Ingresar con Google</button>
        <mat-button-toggle-group fxFlexOffset="2"  name="fontStyle" aria-label="Font Style" style="width: 100%;">
                <mat-button-toggle [fxFlex]="50" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active"  >Recuperar Contraseña</mat-button-toggle>
                <mat-button-toggle [fxFlex]="50" [routerLink]="['/sign-up']" routerLinkActive="router-link-active"  >Registrarse</mat-button-toggle>
        </mat-button-toggle-group>
    </form>
</mat-card>



    