<mat-card class="card-profile">
  <mat-card-header>
    <div mat-card-avatar class="text-center example-header-image">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
    <mat-card-subtitle>{{user.rolesStr}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row wrap" *ngIf="persona" fxLayoutGap.gt-sm="5px" fxLayoutGap.gt-xs="5px" fxLayoutGap="0px">
      <div  fxFlex.gt-sm="49" fxFlex.gt-xs="100" fxFlex="100" class="btn-block  m-t-10 m-b-10">
        <h5 class="page-title text-themecolor m-0">Datos Personales</h5>
        <div fxLayout="row wrap" *ngIf="persona">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="btn-block  m-t-10 m-b-10">
            {{persona.nombres}} {{persona.apellidos}}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="btn-block  m-t-10 m-b-10">
            {{persona.tipoIdentificacion | titlecase }}: {{persona.identificacion}}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="btn-block  m-t-10 m-b-10">
            Fecha de Nacimiento: {{persona.fechaNacimiento | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
      <mat-divider [vertical]="!device.isMovile"></mat-divider>
      <div  fxFlex.gt-sm="49" fxFlex.gt-xs="100" fxFlex="100" class="btn-block  m-t-10 m-b-10">
        <h5 class="page-title text-themecolor m-0">Medios de Contacto</h5>
        <div fxLayout="row wrap" *ngIf="persona">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="btn-block  m-t-10 m-b-10">
            Email: {{persona.contacto.email}}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="btn-block  m-t-10 m-b-10">
            Célular: {{persona.contacto.celular}}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="btn-block  m-t-10 m-b-10">
            Teléfono: {{persona.contacto.telefono}}
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-toolbar-button>
  <button mat-button routerLink="/admin/bloques/new" color="secondary">LIKE</button>
  <button mat-button routerLink="/admin/bloques/new" color="secondary">SHARE</button>
  <button mat-button [routerLink]="['/home/profile/', user.id]" color="secondary">EDITAR</button>
</app-toolbar-button>