<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- basic-form ============================================================== -->
                <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Nombres" disabled [(ngModel)]="item.user.nombres"
                                    name="nombres" #nombres="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Apellidos" disabled [(ngModel)]="item.user.apellidos"
                                    name="apellidos" #apellidos="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Correo Electrónico" disabled [(ngModel)]="item.user.email"
                                    name="email" #email="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Célular" disabled [(ngModel)]="item.user.celular"
                                    name="celular" #celular="ngModel">
                            </mat-form-field>
                        </div>

                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select multiple name="rol" id="rol" [(ngModel)]="item.roles" #rol="ngModel">
                                    <mat-option>-- Ninguno --</mat-option>
                                    <mat-option *ngFor="let item of listRol" [value]="item.id">{{item.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>
                                    Rol
                                </mat-placeholder>
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select name="estado" id="estado" [(ngModel)]="item.estado" #estado="ngModel">
                                    <mat-option>-- Ninguno --</mat-option>
                                    <mat-option *ngFor="let item of listEstado" [value]="item.id">{{item.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>
                                    Estado
                                </mat-placeholder>
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput disabled [placeholder]="item.user.tipoIdentificacion"
                                    [(ngModel)]="item.user.identificacion" name="cedula" #cedula="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input disabled matInput [matDatepicker]="fechaNac" [value]="item.fechaNacimiento"
                                    [(ngModel)]="item.user.fechaNacimiento" name="fechaNacimiento"
                                    #fechaNacimiento="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
                                <mat-datepicker startView="multi-year" #fechaNac>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>

                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <button mat-raised-button color="primary" (click)="save(editForm.valid)">Guardar</button>
                            <button mat-raised-button color="secondary" (click)="goBack()">Regresar</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>