<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- basic-form ============================================================== -->
                <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Apellidos" [(ngModel)]="item.apellidos" name="apellidos"
                                    #apellidos="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Nombres" [(ngModel)]="item.nombres" name="nombres"
                                    #nombres="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Tipo de Identificación"
                                    [(ngModel)]="item.tipoIdentificacion" name="tipoIdentificacion"
                                    #tipoIdentificacion="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Identificación" [(ngModel)]="item.cedula" name="cedula"
                                    #cedula="ngModel">
                            </mat-form-field>
                        </div>
                         <!-- column -->
                         <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input type="date" matInput placeholder="fechaNacimiento" [(ngModel)]="item.fechaNacimiento" name="fechaNacimiento"
                                    #fechaNacimiento="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Foto" [(ngModel)]="item.urlFoto" name="urlFoto"
                                    #urlFoto="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select name="empresa" id="empresa" [(ngModel)]="item.empresa" #empresa="ngModel">
                                    <mat-option>-- Ninguno --</mat-option>
                                    <mat-option *ngFor="let item of listEmpresa" [value]="item.id">{{item.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>
                                    Empresa
                                </mat-placeholder>
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select name="estado" id="estado" [(ngModel)]="item.estado" #estado="ngModel">
                                    <mat-option>-- Ninguno --</mat-option>
                                    <mat-option *ngFor="let item of listEstado" [value]="item.id">{{item.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>
                                    Estado
                                </mat-placeholder>
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <button mat-raised-button color="primary" (click)="save(editForm.valid)">Guardar</button>
                            <button mat-raised-button color="secondary" (click)="goBack()">Regresar</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- TITLE -->
<section class="grid-content allHeight">
    <div class="card mb-40">
        <div class="card-header">
            <i class="fa fa-edit"></i> Edit
        </div>
        <div class="card-body">
            <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <label for="Contacto">Contacto</label>
                        <select name="contacto" id="contacto" [(ngModel)]="item.contacto" class="form-control"
                            #contacto="ngModel">
                            <option *ngFor="let item of listUser" [value]="item.id">{{item.id}}</option>
                        </select>
                        <label for="Direccion">Direccion</label>
                        <select name="direccion" id="direccion" [(ngModel)]="item.direccion" class="form-control"
                            #direccion="ngModel">
                            <option *ngFor="let item of listDireccion" [value]="item.id">{{item.id}}</option>
                        </select>
                        <label for="Empresa">Empresa</label>
                        <select name="empresa" id="empresa" [(ngModel)]="item.empresa" class="form-control"
                            #empresa="ngModel">
                            <option *ngFor="let item of listEmpresa" [value]="item.id">{{item.nombre}}</option>
                        </select>
                        <label for="Estado">Estado</label>
                        <select name="estado" id="estado" [(ngModel)]="item.estado" class="form-control"
                            #estado="ngModel">
                            <option *ngFor="let item of listEstado" [value]="item.id">{{item.nombre}}</option>
                        </select>
                        <label for="EstadoCivil">EstadoCivil</label>
                        <select name="estadoCivil" id="estadoCivil" [(ngModel)]="item.estadoCivil" class="form-control"
                            #estadoCivil="ngModel">
                            <option *ngFor="let item of listEstadoCivil" [value]="item.id">{{item.nombre}}</option>
                        </select>
                        <label for="Rol">Rol</label>
                        <select name="rol" id="rol" [(ngModel)]="item.rol" class="form-control" #rol="ngModel">
                            <option *ngFor="let item of listRol" [value]="item.id">{{item.nombre}}</option>
                        </select>
                        <label for="Empresa">Usuario</label>
                        <select name="user" id="user" [(ngModel)]="item.user" class="form-control" #user="ngModel">
                            <option *ngFor="let item of listUser" [value]="item.id">{{item.nombre}}</option>
                        </select>
                        <!-- BUTTON BAR -->
                        <div class="mt-40">
                            <button class="btn btn-primary pull-right" (click)="save(editForm.valid)">Save</button>
                            <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>