<mat-card fxLayout="column" fxLayoutAlign="center">
    <mat-card-header fxFlex="10">
        <mat-card-title>Home</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex="80">
        <!--The content below is only a placeholder and can be replaced.-->
        <div style="text-align:center">
            <h1>
                Bienvenido a {{ title }} - {{currentUser.fullNames}}!
            </h1>
            <img width="200" alt="Angular Logo" src="../assets/icons/icon-512x512.png">
        </div>
        <h2>Bienvenido</h2>
        <button mat-raised-button (click)="logout()" color="primary">Cerrar Session</button>
    </mat-card-content>
</mat-card>