<p>
  home works!
</p>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/icons/icon-192x192.png">
</div>
<h2>Here are some links to help you start: </h2>
<button (click)="requestPermission()" value="dddd">requestPermission</button>
<button (click)="requestPermission2()" value="dddd">requestPermission2</button>
<button (click)="requestPermission3()" value="dddd">requestPermission3</button>
<button (click)="requestPermission4()" value="dddd">Messague</button>
<button (click)="logout()" value="dddd">LOgout</button>
{{msg}}
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  
</ul>

