<nav style="height: -webkit-fill-available;" class="navbar navbar-expand-lg navbar-light bg-light">
        <button (click)="snav.toggle()" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="offline">Offline</div>
        <a class="navbar-brand" routerLink="">Giflo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Empresa</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" [routerLink]="['/bloques']" routerLinkActive="router-link-active">Bloque</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/naves']" routerLinkActive="router-link-active">Naves</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/camas']" routerLinkActive="router-link-active">Camas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" [routerLink]="['/empleados']" routerLinkActive="router-link-active">Empleados</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/variedads']" routerLinkActive="router-link-active">Variedades</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" [routerLink]="['/empresas']" routerLinkActive="router-link-active">Empresas</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/estadocivils']" routerLinkActive="router-link-active">Estados Civil</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/estados']" routerLinkActive="router-link-active">Estados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" [routerLink]="['/menuitems']" routerLinkActive="router-link-active">Menu Items</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/paginas']" routerLinkActive="router-link-active">Paginas</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/rols']" routerLinkActive="router-link-active">Roles</a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home">Home </a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bi {{user.displayName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="authenticationService.logout()">Logout</a>
                    </div>
                </li>
            </ul>
    
        </div>
    </nav>
    <mat-sidenav-container class="sidenac-menu">
        <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" [fixedTopGap]="64">
            Welcome {{user.displayName}}
            <a class="nav-link" (click)="authenticationService.logout()">Logout </a>
            <mat-nav-list>
                <a class="nav-link" routerLink="/home">Home </a>
                <a class="nav-link" (click)="snav.close();" routerLink="/rols">Rol</a>
                <a class="nav-link" (click)="snav.close();" routerLink="/estadocivils">EstadoCivil</a>
                <a class="nav-link" (click)="snav.close();" routerLink="/empresas">Empresa</a>
                <a class="nav-link" (click)="snav.close();" routerLink="/estados">Estado</a>
                <a class="nav-link" (click)="snav.close();" routerLink="/menuitems">MenuItem</a>
                <a class="nav-link" (click)="snav.close();" routerLink="/paginas">Pagina</a>
                <a class="nav-link" (click)="snav.close();" routerLink="/rols">Rol</a>
                <!--<a (click)="snav.close();" *ngFor="let nav of dsm.menuItems" mat-list-item [routerLink]="[nav.opcion.url]" routerLinkActive="router-link-active">{{nav.opcion.name}}</a>-->
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>