<nav  style="height: -webkit-fill-available;" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">giflo</a>
    <button (click)="snav.toggle()" class="navbar-toggler" type="button" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <!-- START LINK MENU -->
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/bloques">Bloque</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/camas">Cama</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/empleados">Empleado</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/empleados"></a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/empresas">Empresa</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/empresas"></a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/estadocivils">EstadoCivil</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/estados">Estado</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/menuitems">MenuItem</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/naves">Nave</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/paginas">Pagina</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/rols">Rol</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/variedads">Variedad</a>
            </li>
        
 <!-- END LINK MENU -->
        </ul>
    </div>
    <div  class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{user.displayName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="authenticationService.logout()">Logout</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
<mat-sidenav-container  class="sidenac-menu">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" [fixedTopGap]="64" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{user.displayName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="authenticationService.logout()">Logout</a>
                </div>
                <mat-vertical-stepper></mat-vertical-stepper>
        <mat-nav-list>
            <a class="nav-link" routerLink="/home">Home </a>
            <a class="nav-link" (click)="snav.close();"  routerLink="/rols">Rol</a>
            <a class="nav-link" (click)="snav.close();" routerLink="/estadocivils">EstadoCivil</a>
           <a class="nav-link" (click)="snav.close();" routerLink="/empresas">Empresa</a>
           <a class="nav-link" (click)="snav.close();" routerLink="/estados">Estado</a>
           <a class="nav-link" (click)="snav.close();" routerLink="/menuitems">MenuItem</a>
           <a class="nav-link" (click)="snav.close();" routerLink="/paginas">Pagina</a>
           <a class="nav-link" (click)="snav.close();" routerLink="/rols">Rol</a>
            <!--<a (click)="snav.close();" *ngFor="let nav of dsm.menuItems" mat-list-item [routerLink]="[nav.opcion.url]" routerLinkActive="router-link-active">{{nav.opcion.name}}</a>-->
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>