<section class="grid-login-content allHeight">
    <div></div>
    <div class="grid-form shadow-lg">
        <h3 class="grid-item">Bienvenidos a Giflo</h3>
        <h5 class="grid-item text-muted">Login</h5>
        <div class="grid-item">
            <img width="150" alt="Angular Logo" src="../../../assets/icons/icon-512x512.png">
        </div>
        <div class="grid-item">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Correo electrónico" #email type="email" name="email" required>
            </mat-form-field>
        </div>
        <div class="grid-item">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Contraseña" #password type="password" name="password" required>
            </mat-form-field>
        </div>
        <button class="grid-item button-login" mat-stroked-button (click)="authSer.loginWithEmailPass(email.value,password.value)" color="primary">
            <mat-icon class="md-18">input</mat-icon> Ingresar
        </button>
        <button class="grid-item button-login" mat-stroked-button (click)="authSer.loginFacebook()" color="accent">
            <mat-icon class="md-18">input</mat-icon> Ingresar con Facebook
        </button>
        <button class="grid-item button-login" mat-stroked-button (click)="authSer.loginGoogle()" color="accent">
            <mat-icon class="md-18">input</mat-icon> Ingresar con Google
        </button>
        <button class="grid-item button-login" mat-stroked-button color="primary">
            <mat-icon class="md-18">perm_identity</mat-icon> Crear Nueva Cuenta
        </button>
        <div class="grid-item text-muted" >Creado por <a href="http://www.keysist.com" target="_blank">&copy; KeySist</a> </div>
    </div>
    <div></div>
</section>