<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar *ngIf="isHome()" color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">{{title}}</h1>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Cerrar Session</button>
    </mat-toolbar>
    <mat-sidenav-container class="container" [style.marginTop.px]="isHome()?(mobileQuery.matches ? 56 : 56):0">
        <mat-sidenav  #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a *ngFor="let nav of fillerNav" mat-list-item [routerLink]="[nav.url]" routerLinkActive="router-link-active">{{nav.label}}</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content [fxFlex]="100" >
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

