
<mat-card class="allHeight" fxFlex="100"  fxLayout="column" fxLayoutAlign="center center">
    <p class="{{mq.matches?'title-movile':'title-web'}}">Gracias por registrarte</p>
    <div class="{{mq.matches?'title-movile':'title-web'}}" *ngIf="authService.userData as user">
        <p class="text-center">Te hemos enviado un coreo al siguiente email <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Por favor revisa tu email y confirma haciendo clic en el link enviado</p>
    </div>
    <img width="{{mq.matches?80:130}}" alt="Giflo Logo" src="../assets/icons/icon-512x512.png" />
    <button type="button" class="btn btnPrimary" (click)="authService.sendVerificationMail()">
        <i class="fas fa-redo-alt"></i>
        Reenviar correo de activación
    </button>
    <div class="redirectToLogin">
        <span>Regresar atras?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
    </div>
</mat-card>