<mat-card fxFlex="100" fxLayout="column">
    <mat-card-header>
        <mat-card-title>Empresa</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-tab-group [headerPosition]="button">
            <mat-tab label="Datos" >
                <div>
                    <mat-card>
                        <mat-card-title>Nombre</mat-card-title>
                        <div>{{company.name}}</div>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>RUC</mat-card-title>
                        <div>{{company.ruc}}</div>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Info">
                <div>
                    <mat-card>
                        <mat-card-title>Fecha de Registro</mat-card-title>
                        <div>{{company.fechaRegistro*1000 | date:'medium'}} </div>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Estado</mat-card-title>
                        <div>{{company.status}}</div>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Contacto">
                <div>
                    <mat-card>
                        <mat-card-title>Celular</mat-card-title>
                        <div>{{company.phone}}</div>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Teléfono</mat-card-title>
                        <div>{{company.convetional}}</div>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Email</mat-card-title>
                        <div>{{company.email}}</div>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Dirección</mat-card-title>
                        <div>{{company.address}}</div>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onClear()">Regresar</button>
        <button mat-button (click)="onActive()">{{company.status=='ACTIVO'?'Inactivar':'Activar'}}</button>
    </mat-card-actions>
</mat-card>