<form class="allHeight">
    <mat-card *ngIf="authService.userData as user" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header class="{{mq.matches?'form-login-m':'form-login-w'}}">
            <mat-card-title>Ingresa tus datos {{user.displayName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="{{mq.matches?'form-login-m':'form-login-w'}}">
            <div fxLayout="column" fxLayout="column" fxLayoutAlign="center">
                <mat-form-field class="input">
                    <mat-select placeholder="Selecciona el tipo de usuario " #type>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let type of listType" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="input">
                    <input matInput placeholder="{{type.value==='COMPANY'?'RUC.':'Cédula.'}}" #identificacion type="text" name="identificacion" required>
                </mat-form-field>
                <div fxLayout="{{mq.matches?'column':'row'}}">
                    <mat-form-field fxFlex="{{mq.matches?100:50}}">
                        <input matInput placeholder="{{type.value==='COMPANY'?'Nombre Comercial.':'Nombres.'}}" #names type="text" name="names" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" fxFlexOffset="{{mq.matches?0:2}}">
                        <input matInput placeholder="{{type.value==='COMPANY'?'Nombre Corto.':'Apellidos.'}}" #lastName name="lastName" required>
                    </mat-form-field>
                </div>
                <div fxLayout="{{mq.matches?'column':'row'}}" >
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" [style.display]="type.value!=='COMPANY'?'':'none'">
                        <input matInput [matDatepicker]="picker" #birthDate placeholder="Fecha de Nacimiento.">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="mq.matches" #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" fxFlexOffset="{{mq.matches?0:2}}" [style.display]="type.value!=='COMPANY'?'':'none'">
                        <mat-select placeholder="Sexo" #sexo>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let sexo of listSexo" [value]="sexo.value">
                                {{sexo.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="{{mq.matches?'form-login-m':'form-login-w'}}">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width: 100%;">
                <mat-button-toggle [fxFlex]="100" (click)="authService.finishSaveData(identificacion.value,names.value,lastName.value,birthDate.value,sexo.value,type.value)">Finalizar</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-actions>
    </mat-card>
</form>