<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/bloques" routerLinkActive="active">Link to List Bloque</a>
    </div>
    <div>
        <a routerLink="/camas" routerLinkActive="active">Link to List Cama</a>
    </div>
    <div>
        <a routerLink="/contactos" routerLinkActive="active">Link to List Contacto</a>
    </div>
    <div>
        <a routerLink="/direccions" routerLinkActive="active">Link to List Direccion</a>
    </div>
    <div>
        <a routerLink="/empleados" routerLinkActive="active">Link to List Empleado</a>
    </div>
    <div>
        <a routerLink="/empresas" routerLinkActive="active">Link to List Empresa</a>
    </div>
    <div>
        <a routerLink="/estados" routerLinkActive="active">Link to List Estado</a>
    </div>
    <div>
        <a routerLink="/estadocivils" routerLinkActive="active">Link to List EstadoCivil</a>
    </div>
    <div>
        <a routerLink="/menuitems" routerLinkActive="active">Link to List MenuItem</a>
    </div>
    <div>
        <a routerLink="/naves" routerLinkActive="active">Link to List Nave</a>
    </div>
    <div>
        <a routerLink="/paginas" routerLinkActive="active">Link to List Pagina</a>
    </div>
    <div>
        <a routerLink="/rols" routerLinkActive="active">Link to List Rol</a>
    </div>
    <div>
        <a routerLink="/variedads" routerLinkActive="active">Link to List Variedad</a>
    </div>
 <!-- END LINKS -->
</div>