<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/contactos" routerLinkActive="active">Link to List Contacto</a>
    </div>
    <div>
        <a routerLink="/direccions" routerLinkActive="active">Link to List Direccion</a>
    </div>
    <div>
        <a routerLink="/estados" routerLinkActive="active">Link to List Estado</a>
    </div>
    <div>
        <a routerLink="/estadocivils" routerLinkActive="active">Link to List EstadoCivil</a>
    </div>
    <div>
        <a routerLink="/menuitems" routerLinkActive="active">Link to List MenuItem</a>
    </div>
    <div>
        <a routerLink="/paginas" routerLinkActive="active">Link to List Pagina</a>
    </div>
    <div>
        <a routerLink="/rols" routerLinkActive="active">Link to List Rol</a>
    </div>
 <!-- END LINKS -->
</div>