<!-- SEARCH FORM -->
<div class="mb-40 mt-40" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="wind">
        <mat-card fxFlex="100" fxFlex.xs="90%">
            <mat-card-header>
                <mat-card-title>Home</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <h1> Bienvenido a Giflo!
                </h1>
                <img width="200" alt="Angular Logo" src="assets/icons/icon-512x512.png">
            </mat-card-content>
            
        </mat-card>
    </div>

