<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->
{{nombreEmpresa}}
<button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-10">
    <mat-icon>message</mat-icon>
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button>
<mat-menu #notification="matMenu" class="mymegamenu">
    <div class="mailbox">
        <ul>
            <li>
                <div class="drop-title">Notifications</div>
            </li>
            <li>
                <div class="message-center">
                    <perfect-scrollbar [config]="config">
                        <!-- Message -->
                        <a href="#" *ngFor="let notification of notifications">
                            <div class="round {{notification.round}}">
                                <i class="{{notification.icon}}"></i>
                            </div>
                            <div class="mail-content">
                                <h5>{{notification.title}}</h5>
                                <span class="mail-desc">{{notification.subject}}</span>
                                <span class="time">{{notification.time}}</span>
                            </div>
                        </a>
                    </perfect-scrollbar>
                </div>
            </li>
        </ul>
    </div>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <mat-icon class="large-40">account_circle</mat-icon>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item  [routerLink]="['/home/', 'setting']">
        <mat-icon>settings</mat-icon>Configuración
    </button>
    <button mat-menu-item [routerLink]="['/home/', 'profile']">
        <mat-icon>account_box</mat-icon>Perfil
    </button>
    <button mat-menu-item (click)="changeEmpresaOUT.emit()">
        <mat-icon>repeat_one</mat-icon> Cambiar de Empresa
    </button>
    <button mat-menu-item (click)="logoutOUT.emit()">
        <mat-icon>exit_to_app</mat-icon> Salir
    </button>
    
</mat-menu>