<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="BUscar" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<app-scroll-container [more]="hasMore()"
                      [scrollOffset]="2500"
                      [scrollDelay]="3000"
                      (scrolled)="handleScroll($event)"
                      [class.full]="full"
                      [class.part]="!full">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name" colspan="3">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email" colspan="3">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status" colspan="2">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Estado</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle 
          color="accent"
          [checked]="element.status=='ACTIVO'"
          [disabled]="true">
      </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone" colspan="2">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Celular/Teléfono</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone?element.phone:element.convetional}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions" colspan="1">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let myRowData,let element">
        <button mat-icon-button (click)="onView(myRowData)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="accent" (click)="onActive(myRowData)">
          <mat-icon>{{element.status=='ACTIVO'?'cancel':'offline_pin'}}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
  </mat-table>
</app-scroll-container>
<div class="buttons">
  <button (click)="full = !full">{{ full ? 'Part' : 'Full' }}</button>
</div>