<form class="allHeight" [formGroup]="ds.form" novalidate (ngSubmit)="onSubmit()">
    <mat-card *ngIf="authService.userData as user" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header class="{{mq.matches?'form-login-m':'form-login-w'}}">
            <mat-card-title>Ingresa tus datos {{user.displayName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="{{mq.matches?'form-login-m':'form-login-w'}}">
            <div fxLayout="column" fxLayout="column" fxLayoutAlign="center">
                <mat-form-field class="input">
                    <mat-select placeholder="Tipo de Usuario" #type formControlName="type">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let type of listType" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ds.form.controls['type'].hasError('required')">
                        Es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="{{type.value==='COMPANY'?'RUC.':'Cédula.'}}" formControlName="id" type="{{type.value==='COMPANY'?'text':'number'}}">
                    <mat-error *ngIf="ds.form.controls['id'].hasError('required')">
                        Es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <div fxLayout="{{mq.matches?'column':'row'}}">
                    <mat-form-field fxFlex="{{mq.matches?100:50}}">
                        <input matInput placeholder="{{type.value==='COMPANY'?'Nombre Comercial.':'Nombres.'}}" formControlName="names" type="text">
                        <mat-error *ngIf="ds.form.controls['names'].hasError('required')">
                            Es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" fxFlexOffset="{{mq.matches?0:2}}">
                        <input matInput placeholder="{{type.value==='COMPANY'?'Nombre Corto.':'Apellidos.'}}" formControlName="lastName">
                        <mat-error *ngIf="ds.form.controls['lastName'].hasError('required')">
                            Es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field formGroupName="address">
                    <input matInput placeholder="Calle Principal." formControlName="mainStreet" type="text">
                    <mat-error *ngIf="ds.form.controls.address.controls['mainStreet'].hasError('required')">
                        Es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field formGroupName="address">
                    <input matInput placeholder="Interseccion." formControlName="intersection" type="text">
                    <mat-error *ngIf="ds.form.controls.address.controls['intersection'].hasError('required')">
                        Es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <div fxLayout="{{mq.matches?'column':'row'}}">
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" [style.display]="type.value!=='COMPANY'?'':'none'">
                        <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Fecha de Nacimiento.">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="mq.matches" #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" fxFlexOffset="{{mq.matches?0:2}}" [style.display]="type.value!=='COMPANY'?'':'none'">
                        <mat-select placeholder="Sexo" formControlName="sexo">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let sexo of listSexo" [value]="sexo.value">
                                {{sexo.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div formGroupName="address" fxLayout="{{mq.matches?'column':'row'}}">
                    <mat-form-field fxFlex="{{mq.matches?100:50}}">
                        <input matInput placeholder="Celular" formControlName="phone" type="number">
                        <mat-error *ngIf="ds.form.controls.address.controls['phone'].hasError('required')">
                            Es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="{{mq.matches?100:50}}" fxFlexOffset="{{mq.matches?0:2}}">
                        <input matInput placeholder="Telefono Convencional" formControlName="convetional" type="number">
                        <mat-error *ngIf="ds.form.controls.address.controls['convetional'].hasError('required')">
                            Es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="{{mq.matches?'form-login-m':'form-login-w'}}">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width: 100%;">
                <button mat-raised-button [fxFlex]="100" color="primary" type="submit">Finalizar</button>
            </mat-button-toggle-group>
        </mat-card-actions>
    </mat-card>
</form>