<mat-card fxLayout="column" fxLayoutAlign="center">
        <mat-card-header fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>Giflo</mat-card-title>
        </mat-card-header>
    
        <mat-card-content class="full-with" fxLayout="column" fxLayoutAlign="center center">
            <img mat-card-xl-image alt="Angular Logo" src="../assets/icons/icon-512x512.png" />
            <mat-card-title class="welpone">
                Bienvenidos al Giflo
            </mat-card-title>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-subtitle>
                <p>Giflo es una aplicación para gestionar la producción de rosas de invernadero.</p>
            </mat-card-subtitle>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxFlex="10">
            <button fxFlex="50" mat-raised-button [routerLink]="['/login']" routerLinkActive="router-link-active" color="primary">Ingresar</button>
            <button fxFlex="50" mat-raised-button [routerLink]="['/register']" color="primary">Registrarse</button>
        </mat-card-actions>
    </mat-card>